{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filter-choices" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "all-filter",
          name: "all-filter",
          fieldset: {
            legend: {
              text: "Do you want to see all the adverts or narrow down your search?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Show me all the adverts",
              text: "Show me all adverts",
              checked: checked("all-filter", "Show me all the adverts")
            },
            {
              value: "I want to narrow down my search",
              text: "I want to narrow down my search",
              checked: checked("all-filter", "I want to narrow down my search")
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
